
body {
    background-color: #05204f;
    font-family: Arial, Helvetica, sans-serif;
    color: #dddddd;
}

.course-search {
    width: 100%;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

select {
    font-size: 1.05rem;
    background-color: #29347d;
    color: #dddddd;
    border: none;
    padding: 0.5em;
}

input {
    font-size: 1.1rem;
    background-color: #29347d;
    color: #dddddd;
    border: none;
    padding: 0.5em;
}
input:focus {
    outline: none;
}
input:disabled {
    background-color: #4e536a;
}

.course-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 100%));
    margin-top: 0rem;
}
.card {
    background-color: #29347d;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.card:hover {
    background-color: #3b4a9c;
}
.card > .header {
    font-weight: bold;
}
.card > .body {
    font-size: .875rem;
}
.card > .button {
    font-size: .875rem;
    color: #aaaaaa;
}

.hide {
    display: none;
}

@media (min-width: 1000px) {
    .course-search {
        width: 30%;
        margin-left: 1rem;
    }
    .faculty-select {
        margin-left: 1rem;
    }
}